@using DigitalSignageAdapter.Extensions

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @Html.RestrictedActionLink("Overview", "Index", "Config", "li")
        @Html.RestrictedActionLink("Options", "Options", "Config", "li")
        @Html.RestrictedActionLink("Businesses", "Businesses", "Config", "li")
        @Html.RestrictedActionLink("Signup tickets", "SignupTicketList", "Config", "li")
        @Html.RestrictedActionLink("Roles/permissions", "RolesOverview", "Config", "li")
    </ul>
</div>
